body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #22254b;
  font-family: 'Benne', serif;
}

.logo {
  font-size: 2rem;
  color: white;
  text-align: center;
}

header {
  padding: 1rem;
  background-color: #373b69;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  border: 2px solid white;
  background-color: transparent;
  padding: 10px;
  color: white;
  border-radius: 25px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b69;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  text-align: center;
  background-color: #22254b;
  padding: 1rem;
  color: white;
}

.logo {
  font-size: 2rem;
  color: #ffb703; 
  text-align: center;
  transition: color 0.3s; 
}

.logo:hover {
  color: #d90429; 
}

